In [14]:
import pandas as pd
import numpy as np


df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'ISO=8859-1')

df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [8]:
#What is the total sum of Animal Fat produced in 2014 and 2017 respectively?
df1 = df.groupby ('Item') ['Y2014'] . sum()
print(df1)

Item
Alcohol, Non-Food        2403.00
Alcoholic Beverages    102410.11
Animal Products         11935.65
Animal fats            209460.54
Apples and products      9499.23
                         ...
Vegetables, Other      155038.96
Vegetal Products       107145.19
Wheat and products     232670.13
Wine                     4497.36
Yams                   200396.96
Name: Y2014, Length: 119, dtype: float64

In [138]:
df12 = df.groupby ('Item') ['Y2017'] . sum()
print(df12)

Item
Alcohol, Non-Food        2348.00
Alcoholic Beverages     95581.06
Animal Products         11547.65
Animal fats            269617.53
Apples and products     10198.90
                         ...
Vegetables, Other      157752.59
Vegetal Products       107655.20
Wheat and products     240047.62
Wine                     4178.02
Yams                   229174.59
Name: Y2017, Length: 119, dtype: float64

In [23]:
# What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?
df2 = df["Y2015"].mean()
print(round(df2,3))
df3 = df["Y2015"].std()
print(round(df3,3))

135.236
1603.404

In [41]:
# What is the total number and percentage of missing data in 2016 to 2 decimal places?
df4 = df.isnull()['Y2016'].sum()
print(df4)
df5= df.isnull()['Y2016'].count()
print(df5)
print(round((df4/df5)*100,2))

1535
60943
2.52

In [68]:
# Which year had the highest correlation with â€˜Element Codeâ€™?
corr2014 = df['Y2014'].corr(df['Element Code'])
print(corr2014)
corr2015 = df['Y2015'].corr(df['Element Code'])
print(corr2015)
corr2016 = df['Y2016'].corr(df['Element Code'])
print(corr2016)
corr2017 = df['Y2017'].corr(df['Element Code'])
print(corr2017)
corr2018 = df['Y2018'].corr(df['Element Code'])
print(corr2018)

0.024456819495221754
0.023889199301639942
0.023443997584961445
0.024254007760045777
0.024278571953519578

In [92]:
#What year has the highest sum of Import Quantity?
#What is the total number of the sum of Production in 2014?
df6 = df.groupby ('Element') . sum()
df6

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [88]:
#Which of these elements had the highest sum in 2018?
# Which of these elements had the 3rd lowest sum in 2018?
df7 = df[["Element", "Y2018"]]
df8 = df7.groupby('Element') . sum()
sort =df8.sort_values(["Y2018"], ascending=False)
sort

                                             Y2018
Element
Domestic supply quantity                2161192.10
Production                              2075072.89
Food                                    1303841.28
Total Population - Both sexes           1140605.00
Food supply (kcal/capita/day)            455261.00
Processing                               308429.00
Import Quantity                          287997.09
Feed                                     233489.68
Export Quantity                          181594.80
Losses                                   163902.00
Other uses (non-food)                     91300.97
Food supply quantity (kg/capita/yr)       49056.85
Residuals                                 34864.00
Seed                                      25263.14
Stock Variation                           20577.91
Protein supply quantity (g/capita/day)    11833.56
Fat supply quantity (g/capita/day)        10258.69
Tourist consumption                          90.00

In [132]:
# What is the total Import Quantity in Algeria in 2018?
df9 = df.groupby (['Element', 'Area']) ['Y2018'] . sum()
print(df9)

Element                   Area
Domestic supply quantity  Algeria                  90023.42
                          Angola                   59590.22
                          Benin                    31447.90
                          Botswana                  3045.85
                          Burkina Faso             25705.16
                                                     ...
Tourist consumption       Cabo Verde                   7.00
                          Egypt                       23.00
                          Kenya                       17.00
                          Mauritius                   31.00
                          Sao Tome and Principe       12.00
Name: Y2018, Length: 803, dtype: float64

In [137]:
# What is the total number of unique countries in the dataset?
df.Area.nunique()

49